<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
     <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
 
	
	<div class="container">
	<div class="message" th:if="${message != null}">
        [[${message}]]
    </div>
    <h2>Update User</h2>
    <form th:action="@{'/update/' + ${user.id}}" method="post" role="form" th:object="${user}">
        <!-- Ensure the hidden method field is before other form fields -->
        
         <input type="hidden" name="_method" th:value="${_method}"/>
        
        <!-- Other form fields -->
		
		
		
		 <!-- Other form fields -->
    	<input type="text" th:field="*{id}" th:value="${user.id}">
    
    	
         <div class="form-group">
                <label for="fullname">Name:</label>
                <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Enter your name" th:value="${user.fullname}">
            </div>
            
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input th:field="*{lastname}" type="text" id="lastname" name="lastname" placeholder="Enter your lastname" th:value="${user.lastname}">
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" th:value="${user.email}">
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" th:value="${user.password}">
            </div>
            
            <div class="form-group">
                <label for="country">country:</label>
                <input th:field="*{country}" type="text" id="country" name="country" placeholder="Enter your country" th:value="${user.country}">
            </div>
            
            <div class="form-group">
                <label for="course">course:</label>
                <input th:field="*{course}" type="text" id="course" name="course" placeholder="Enter your course" th:value="${user.course}">
            </div>
            <input type="submit" value="Register">
        </form>
	</div>
    
</body>
</html>
